<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--scope를 prototype으로 하면 car, car2 객체주소가 달라진다.-->
     <!-- <bean id="car" class="com.fastcampus.ch3.Car" scope="prototype" /> -->
    <bean id="car" class="com.fastcampus.ch3.Car">
        <!-- setter가 있어서 값을 가져올수있다.  -->
        <property name="color" value="red"/>
        <property name="oil" value="100" />
        <property name="engine" ref="engine" />
        <property name="doors">
        <array value-type="com.fastcampus.ch3.Door">
            <ref bean="door"/>
            <ref bean="door"/>
        </array>
        </property>
        </bean>
    <!--<bean id="car" class="com.fastcampus.ch3.Car" scope="singleton"/> -->
    <bean id="engine" class="com.fastcampus.ch3.Engine" scope="singleton"/>
    <!-- <bean id="door" class="com.fastcampus.ch3.Door" scope="singleton"/> -->
    <bean id="door" class="com.fastcampus.ch3.Door" scope="prototype"/> <!-- door 객체 주소값이 둘이 다르게 나온다. -->
</beans>